body {
	position:absolute;
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background: #2E232C;
	margin: 0;
 }

#particles-js {
	    position: absolute;
			height: 100%;
			width: 100%;
			opacity: 0.3;
}

label {
	font-family: 'work sans';
}

p h2 h3 {
	font-family: "work sans", sans-serif;
}

#mc_embed_signup_scroll {
	padding: 20px;
}

.required {
	bottom: 30px;
    border: none;
    border-bottom: 2px solid #ffffff;
    padding: 10px;
    width: 100%;
    background: transparent;
    transition: all .25s ease;
}

.required::after {
	content: "";
  right: -10px;
  bottom: 71px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #7149c7;
}

h2 {
	font-family: "work sans", sans-serif;
	text-align: center;
	margin: 0;
	padding-top: 20px;
	font-weight: 500;
	font-size: 22px;
}

a {
	color: black;
}
a:hover
{
     color:#fff;
     text-decoration:none;
     cursor:pointer;
}

#right {
	right: 0;
	width: 850px;
	bottom: 0;
	position: absolute;
  z-index: 1;
}

#trees {
	height: 100vh;
    left: 0;
    position: absolute;
    z-index: -1;
}

#leaves {
	top: -6px;
    width: 450px;
    bottom: 0;
    position: absolute;
    z-index: 1;
		animation: sway1 10s infinite;
    transform-origin: 50% 100% 0;
}

@keyframes sway1 {
    0%, 100%{ transform: rotate(0deg);}
    50%{ transform: rotate(3deg); }
}

#blob {
	left: -8px;
	width: 350px;
	bottom: 0;
	position: absolute;
	opacity: 0.5;
}

.main-container {
	z-index: 2;
position: relative;
overflow: hidden;
width: 100vw;
height: 100vh;
}

#back {
	left: 0;
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: -1;
}

#subtitle {
	font-family: "work sans", sans-serif;
	color: white;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	padding-top: 30px;
	margin:auto;
	width: 100%;
}

.half-one {
    position: absolute;
    width: 50vw;
    height: 100vh;
    float: left;
}

.half-two {
	background: linear-gradient(to left, #ff9b9b, #ff966c);
    position: absolute;
    width: 50vw;
    height: 100vh;
    right: 0;
}

.footer {
	position: fixed;
    bottom: 0;
    background: #FF9A82 !important;
    width: 100%;
    padding: 10px;
		left: 0;
		font-family: "work sans", sans-serif;
		font-size: 12px;
		z-index: 5;
}

#mc_embed_signup {
	background: #ff9a82;
    clear: left;
    font: 14px Helvetica,Arial,sans-serif;
    width: 100%;
    height: 300px;
}

.background {
	width: 100vw;
	height: 100vh;
	padding: 0;
	position: ABSOLUTE;
	display: block;
	top: 0;
	left: 0;
}

p {
	margin-top: 100px;
    text-align: center;
    padding: 0 5%;
    line-height: 32px;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}

#logo {
	width: 100px;
    right: 0;
    left: 0;
    margin: auto;
		padding-bottom: 12px;
}

#phone {
	position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    height: 75vh;
    bottom: 0;
}

.mc-field-group {
		margin: auto;
		left: 0;
		right: 0;
		max-width: 730px;
		padding-top: 20px;

	}

button {
	width: 150px;
    height: 40px;
    background: black;
    color: white;
    border-radius: 7px;
    margin-top: 14px;
    border: 2px solid #5f5f5f;
    font-size: 18px;
    font-family: "karla";
    text-decoration: line-through;
    outline: none;
}

#tagline {
	margin: auto;
    display: block;
    width: 80vw;
		max-width: 860px;
}

#copy {
	padding-top: 26vh;
	display: grid;
}

#tagline-mob {
	display: none;
}

@media only screen and (max-device-width: 760px) {
    body {
    background: #2E232C;
		margin: 0;
    }

    h1 {
        color: red;
    }

		.mc-field-group {
			margin: auto;
		    left: 0;
		    right: 0;
		    width: 100%;
				padding-top: 20px;
		}

    .half-one {
        position: absolute;
        width: 50vw;
        height: 50vh;
        float: left;

    }

		.background {
			width: 100vw;
			height: 100vh;
			padding: 0;
			position: ABSOLUTE;
			display: block;
			top: 0;
			left: 0;
			right: 0;
		}

    .half-two {
        background: linear-gradient(to left, #ff9b9b, #ff966c);
        position: absolute;
        width: 100vw;
        height: 50vh;
        right: 0;
        margin-top: 50vh;
    }

		#subtitle {
			font-family: "work sans", sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-top: 30px;
    margin: auto;
    width: 100%;
		}

		#tagline-mob {
			margin: auto;
		    display: block;
		    width: 84vw;
				max-width: 860px;
		}

		#tagline {
			display: none;
		}

    p {
        margin-top: 100px;
        text-align: center;
        padding: 0 5%;
        line-height: 30px;
        font-family: 'Karla', sans-serif;
        font-size: 18px;
    }

    #logo {
        width: 100px;
        right: 0;
        left: 0;
        margin: auto;
				padding-bottom: 12px;
    }

    #phone {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        height: 53vh;
        bottom: 0;
    }

		#right {
			right: 0;
		width: 350px;
		bottom: 0;
		position: absolute;
		}

		#leaves {
			top: -6px;
		    width: 300px;
		    bottom: 0;
		    position: absolute;
		    z-index: 1;
				animation: sway1 10s infinite;
		    transform-origin: 50% 100% 0;
		}
}
